.container {
    max-width: 800px;
    margin: 0 auto;
    background: aqua;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body{
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

#img{
    width: 200px;
    height: 200px;
    max-width: 100%; 
    margin-right: 10px;   
}

fieldset{
    border: solid;
    margin: 20px;
    border-radius: 5px;
    border-color: black;
}
h3,h2{
    text-align: center;
    color:dodgerblue;
    text-shadow: 1px 1px grey;
}
h1{
    text-align: center;
    color:mediumblue;
    text-shadow: 1px 1px gray;
}
p{
    text-indent: 20px;
    /* padding: 0 0 0 20px; */
    /* height: 50px; */
}

.fs-1{
    border-radius: 20px;
    border-width: 5px;
    box-shadow: 1px 1px gray;
    border-color: #003459;
}