h3{
    background-color: blue;
    color: red;
    background-image: url(OIP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    border-style: solid;
    border-width: 20px;
}