body {
    background-image: url("Cores\ luminosas\ em\ gradiente\ _\ Foto\ Premium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 0px 20px 0px 20px;
}

form {
    box-shadow: inset 0px 0px 20px 5px white;
    background: rgba(255, 255, 255, 0.1);
    width: 50%;
    margin: 0px auto;
    padding: 20px
}

label {
    font-weight: bold;
    font-size: 15px;
}

input {
    outline: none;
    border-style: none;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 5px 0px;
    box-shadow: inset 0px 0px 7px 0px rgb(228, 193, 193);
    background: rgba(224, 219, 219, 0.2);
    width: 100%;
}

button {
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 10px 10px 10px 20px;
    box-shadow: inset 0px 0px 10px 0px white;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0px 0px 0px;
}